.access-img {
    background-image: url(../images/maternitypage/maternitytop@2x.png);
    background-size: cover;
    padding-bottom: 370px;
    background-position: center;

    margin-top: 20px;

}
